body{
  margin:0px;
  /*background-color: #222;*/
  height:100%;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }



.hidemap {
  opacity: 0;
}



.map-editor{

  position:absolute;
  right:0px;
  left:50%;
  bottom:0px;
  top:50px;
  overflow:scroll;
}

.map-editor-config{
  height: 50%;
  background-color: #333;
  position:relative;
}

.map-style-config{
  height: 50%;
  background-color: #333;
  position:relative;
}


.pane-title{
  color:white;
  z-index:1;
  padding:4px;
}



.flex-container {
    width:100%;
    /* flexbox specific properties */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
.flex-container .flex-item {
  /* flexbox specific properties */
  -webkit-flex: auto;
  flex: auto;
}


.pane-title-error{
  background-color: rgba(200,0,0, .5);

}

.map-toolbar{
  margin-bottom:0px;
}

.map-container {
    position:absolute;
    left:0px;
    right:50%;
    bottom:0px;
    top:50px;

    /* flexbox specific properties */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;


  }

.map{
  background-color: #222;
  -webkit-flex: auto;
  flex: auto;
}


.fullscreen{
  position:absolute;
  right:0px;
  left:0px;
  bottom:0px;
  top:0px;

}

.black{
  background-color: black;
}

.cherry{
  background: -webkit-linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #EB3349 10%, #F45C43 90%); /* W3C */

}

.fullscreen.mantle{
 background: -webkit-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* Chrome 10+, Saf5.1+ */
 background:    -moz-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* FF3.6+ */
 background:     -ms-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* IE10 */
 background:      -o-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* Opera 11.10+ */
 background:         linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* W3C */
}


.white{
  color:white;
}
.zcustom .panel-heading {
    background-color: red !important;
}


.layers-list > li {
  border-bottom:solid #ccc 1px;
}

.table tbody>tr>td{
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.geolocation-control{
  top: 65px;
  left: .5em;
}
.ol-touch .geolocation-control{
  top: 80px;
}

.ol-control.toggled > button {
  background-color: red !important;
}

a{
  cursor:pointer;
}