<div ng-if="ui.loading">
    Loading <i class="fa fa-refresh fa-spin"></i>
</div>
<div style="height:400px; overflow:scroll;">
    <div>
        <span ng-if="account">
            Dropbox user: {{account.email}} <button class="btn btn-link" ng-click="logoutDropbox()">LOGOUT</button>
        </span>
        

        <button ng-if="!account" class="btn btn-link" ng-click="loginDropbox()">LOGIN</button>
    </div>
    <table class="table" ng-if="account">
    <tr ng-if="currentPath!='/'">
        <td>
            <a class="btn btn-link" href="" ng-click="statParentPath(currentPath)">..</a></span>
        </td>
        <td>
            
        </td>
    </tr>
    <tr ng-repeat="f in currentFiles" >
        <td>
            <span ng-if="!f.isFolder">{{f.path}}</span>
            <span ng-if="f.isFolder"><a class="" ng-click="statPath(f)">{{f.path}}</a></span>
        </td>
        <td>
            <button class="btn btn-link" ng-if="selectable(f)" ng-click="select(f)">Select</button>
        </td>
    </tr>
    </table>

</div>