<div class="modal-header">
    <h3 class="modal-title">Get file</h3>
</div>
<div class="modal-body">
    <h3>Choose a file</h3>
    <div class="form-group">
        <label for="">Selected folder</label>
        <input class="form-control" type="text" disabled required ng-model="cfg.file">
    </div>
    <div dropbox-tree ng-model="cfg.file" mode="file"></div>
    
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>