<div class="modal-header">
    <h3 class="modal-title">Load from Dropbox Folder</h3>
</div>
<div class="modal-body">

    <form name="config" class="form">
        <div class="form-group">
            <button class="btn btn-primary" dropbox-choose-button mode="folder" ng-model="cfg.folder" required>CHOOSE FOLDER</button>
            {{cfg.folder}}
        </div>
         
    </form>

    
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="config.$invalid">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>