<div class="" >
  <div class="container" style="padding-top:100px;">


            <h1 style="font-family: 'Raleway', sans-serif; font-size:48px;" class="white text-center">
            MAP DESIGNER
            </h1>
            <h4 style="font-family: 'Raleway', sans-serif;" class="white text-center">
            by INMAGIK
            </h4>
            <br><br>  <br>
            <p class="text-center">
              <p class="lead white text-center">
                What you want to do?
              </p>
              <br>

            </p>
            <p class="text-center">
              <button class="btn btn-lg btn-warning" ui-sref="map-editor">Create a map</button>
              <button class="btn btn-lg btn-info">Load a map</button>
            </p>



  </div>



</div>
